.tooltip-popup{
    cursor:help;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 5px 1px grey ;
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    top: 15px;
    left: -80px;
    z-index: 15;
    overflow-y:scroll ;
    }
.tooltip-container{
    /* position: relative; */
    display: inline-block;
    position: relative;
    cursor:help;
}
#tooltip-style-invert-top{
    top: -100px;
}
.tooltip-container img{
    width: 24px;
    height: 24px;
}